@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: oklch(98.4% 0.003 247.858);
  --secondary-bg: oklch(96.8% 0.007 247.896);
  --btn-bg: #2E3461;
  --light-bg: oklch(37.2% 0.044 257.287);
  --navbar: #1E293B;
  --br-primary: oklch(86.9% 0.022 252.894);
  --white: oklch(20.8% 0.042 265.755);
  --text-secondary: oklch(55.4% 0.046 257.417);
}

.dark {
  --primary: #13162A;
  --secondary-bg: #24294D;
  --btn-bg: #2E3461;
  --light-bg: #9999FF;
  --navbar: #1E293B;
  --br-primary: oklch(37.2% 0.044 257.287);
  --white: #FFFFFF;
  --text-secondary: oklch(87.2% 0.01 258.338);
}

@theme {
  --color-primary: var(--primary);
  --color-secondary-bg: var(--secondary-bg);
  --color-btn-bg: var(--btn-bg);
  --color-light-bg: var(--light-bg);
  --color-navbar: var(--navbar);
  --color-br-primary: var(--br-primary);
  --color-white: var(--white);
  --color-text-secondary: var(--text-secondary);
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 100%;
}

.shadow-custom {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.markdoun-text h2 {
  font-size: 1.6rem;
  margin-top: 24px;
  margin-bottom: 8px;
  font-weight: 500;
}

.markdoun-text p {
  font-size: 1.005rem;
  line-height: 1.475rem;
  letter-spacing: 0.009rem;
  font-weight: 400;
}

.markdoun-text ul {
  list-style-type: disc;
  padding-left: 15px;
}

.markdoun-text ul li {
  font-size: 1.005rem;
  line-height: 1.475rem;
  letter-spacing: 0.009rem;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollable-container::-webkit-scrollbar {
  width: 7px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 5px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #24294D;
  border-radius: 10px;
  border: 2px solid lightgray;
}